.container {
    text-align: center;
}

.api_data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.api_data pre {
    overflow: scroll;
    overflow-x: hidden;
    height: 500px;
}

.poster {
    border-radius: 20px;
}